header{
    background-color: rgb(248,248,255);
    height: 100px;
    width: auto;

}
.topnav {
     background-color: rgb(248,248,255);
    overflow: hidden;
    align-items: right;
}
.topnav {
    float: right;
    padding-top: 30px;
}


.topnav a {
    float: left;
    color: #000c04;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
}


.topnav a:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(255, 0, 191);
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #ffffff;
    color: rgb(76, 233, 71);
}
.funding{
    float: left;
    overflow: hidden
}

.funding .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.funding .dropbtn:hover{
    color:rgb(255, 0, 191);
}

.about-us .abt-btn:hover{
    color:rgb(255, 0, 191);
}

.funding-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.funding:hover .funding-content {
    display: block;
}

.funding-content a:hover {
    background-color: #ddd;
}

.funding-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.about-us{
    float: left;
    overflow: hidden
}

.about-us .abt-btn {
    font-size: 16px;
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
     margin: 0;
}

.about-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.about-us:hover .about-content {
    display: block;
}

.about-content a:hover {
    background-color: #ddd;
}

.about-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.image{
    position:absolute;
    left:100px;
}

/*style for cards*/

.middlebody{
  padding-top: 20px;
  padding-left: 185px;
}

{
    box-sizing: border-box;
  }
body {
    font-family: Arial, Helvetica, sans-serif;
  }

  .column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  .row {margin: 0 -5px;}

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(250, 110, 182, 0.8);
    padding: 16px;
    text-align: center;
    background-color: White;
  }
  .card :hover{
       background-color: rgb(255,255,255);
  }
  .column :hover{
       background-color: rgb(255,182,193);
  }


  h2{
    text-align: center;
    color: 	rgb(255,20,147);
    padding-top: 80px;
  }

  h3:hover{
    color: rgb(255,255,255);
  }
<<<<<<< HEAD
  .middlebody p:hover{
=======
  p:hover{
>>>>>>> 9d032e50c1d0ffcfa0f4897e2cc01e3cb1c3f1d8
    color: rgb(245,255,250);
  }

  /* slider*/

<<<<<<< HEAD
  .carousel{
    padding-left: 180px;
    padding-top: 50px;
  }
  .carousel .items{
    display: flex;
    overflow: auto;
    width:880px;
    align-items: center;

  }
  .carousel .items .item{
    min-width: 200px;
    height: 220px;
    background-color: lightgrey;
    margin:10px;
    box-shadow:0 4px 8px 0 rgba(250, 110, 182, 0.8) :
  }
  .carousel img{
    height: 100px;
    width: 100px;
    padding-left: 50px;
    padding-top:20px;

  }
  .carousel h4{
    text-align: center;
  }
  .carousel p{
    text-align: center;
    padding-bottom: 10px;
  }




  /* for footer */
  .myfoot{
  padding-top: 100px;
}
=======
  .slider-box{
    height: 200px;
    width:auto;
  }


  /* for footer */

>>>>>>> 9d032e50c1d0ffcfa0f4897e2cc01e3cb1c3f1d8
  footer{
  height: 250px;
  width: auto;
  background-color:rgb(255,182,193);
  padding-top: 20px;
}
.foot{
  float: left;
  height: 150px;
  width: 400px;

}

.subscribe input {
  background: #fff;
  color: #060c22;
  border: 0;
  outline: none;
  margin: 0;
  padding: 9px 20px;
  border-radius: 50px;
  font-size: 14px;
}

.subscribe button {
  border: 1px;
  padding: 15px 25px;
  cursor: pointer;
  backgrouound: rgb(253,14,53);
  color: rgb(253,14,53);
  transition: all 0.3s ease;
  outline: ;
  font-size: 14px;
  border-radius: 50px;
}

.subscribe button:hover {
  background: yellow;
}

@media only screen and (min-width: 768px) {
  .subscribe input {
    min-width: 400px;
}
}
.enter{
  padding: 60px;
  float: right;
}
.col-auto{
  float: right;


}
